{% for social in site.data.socials %}
  {% case social[0] %}
    {% when 'acm_id' %}
      <a href="https://dl.acm.org/profile/{{ social[1] }}/" title="ACM DL"><i class="ai ai-acm"></i></a>
    {% when 'blogger_url' %}
      <a href="{{ social[1] }}" title="Blogger"><i class="fa-brands fa-blogger-b"></i></a>
    {% when 'bluesky_url' %}
      <a href="{{ social[1] }}" title="Bluesky" target="_blank" rel="noopener">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M6.335 5.144c-1.654 -1.199 -4.335 -2.127 -4.335 .826
                  c0 .59 .35 4.953 .556 5.661c.713 2.463 3.13 2.75 5.444 2.369
                  c-4.045 .665 -4.889 3.208 -2.667 5.41c1.03 1.018 1.913 1.59 2.667 1.59
                  c2 0 3.134 -2.769 3.5 -3.5c.333 -.667 .5 -1.167 .5 -1.5
                  c0 .333 .167 .833 .5 1.5c.366 .731 1.5 3.5 3.5 3.5
                  c.754 0 1.637 -.571 2.667 -1.59c2.222 -2.203 1.378 -4.746 -2.667 -5.41
                  c2.314 .38 4.73 .094 5.444 -2.369c.206 -.708 .556 -5.072 .556 -5.661
                  c0 -2.953 -2.68 -2.025 -4.335 -.826c-2.293 1.662 -4.76 5.048 -5.665 6.856
                  c-.905 -1.808 -3.372 -5.194 -5.665 -6.856z"/>
        </svg>
      </a>
    {% when 'dblp_url' %}
      <a href="{{ social[1] }}" title="DBLP"><i class="ai ai-dblp"></i></a>
    {% when 'discord_id' %}
      <a href="https://discord.com/users/{{ social[1] }}" title="Discord"><i class="fa-brands fa-discord"></i></a>
    {% when 'email' %}
      <a href="mailto:{{ social[1] | encode_email }}" title="email">
        <svg
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1
                   0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
          <polyline points="22,6 12,13 2,6"></polyline>
        </svg>
      </a>
    {% when 'facebook_id' %}
      <a href="https://facebook.com/{{ social[1] }}" title="Facebook"><i class="fa-brands fa-facebook"></i></a>
    {% when 'flickr_id' %}
      <a href="https://www.flickr.com/{{ social[1] }}" title="Flickr"><i class="fa-brands fa-flickr"></i></a>
    {% when 'github_username' %}
      <a href="https://github.com/{{ social[1] }}" title="GitHub">
        <svg
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M9 19c-5 1.5-5-2.5-7-3
                   m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61
                   c3.14-.35 6.44-1.54 6.44-7
                   A5.44 5.44 0 0 0 20 4.77
                   5.07 5.07 0 0 0 19.91 1
                   S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0
                   C6.27.65 5.09 1 5.09 1
                   A5.07 5.07 0 0 0 5 4.77
                   a5.44 5.44 0 0 0-1.5 3.78
                   c0 5.42 3.3 6.61 6.44 7
                   A3.37 3.37 0 0 0 9 18.13V22"></path>
        </svg>
      </a>
    {% when 'gitlab_username' %}
      <a href="https://gitlab.com/{{ social[1] }}" title="GitLab"><i class="fa-brands fa-gitlab"></i></a>
    {% when 'ieee_id' %}
      <a href="https://ieeexplore.ieee.org/author/{{ social[1] }}/" title="IEEE Xplore"><i class="ai ai-ieee"></i></a>
    {% when 'inspirehep_id' %}
      <a href="https://inspirehep.net/authors/{{ social[1] }}" title="Inspire HEP"><i class="ai ai-inspire"></i></a>
    {% when 'instagram_id' %}
      <a href="https://instagram.com/{{ social[1] }}" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
    {% when 'kaggle_id' %}
      <a href="https://www.kaggle.com/{{ social[1] }}" title="Kaggle"><i class="fa-brands fa-kaggle"></i></a>
    {% when 'keybase_username' %}
      <a href="https://keybase.io/{{ social[1] }}" title="Keybase"><i class="fa-brands fa-keybase"></i></a>
    {% when 'lastfm_id' %}
      <a href="https://www.last.fm/user/{{ social[1] }}" title="Last FM"><i class="fa-brands fa-lastfm"></i></a>
    {% when 'lattes_id' %}
      <a href="http://lattes.cnpq.br/{{ social[1] }}" target="_blank" title="Lattes"><i class="ai ai-lattes"></i></a>
    {% when 'leetcode_id' %}
      <a href="https://leetcode.com/u/{{ social[1] }}/" target="_blank" title="LeetCode"><i class="si si-leetcode"></i></a>
    {% when 'linkedin_username' %}
      <a href="https://www.linkedin.com/in/{{ social[1] }}" title="LinkedIn">
        <svg
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2
                   2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
          <rect x="2" y="9" width="4" height="12"></rect>
          <circle cx="4" cy="4" r="2"></circle>
        </svg>
      </a>
    {% when 'mastodon_username' %}
      <a rel="me" href="https://{{ social[1] }}" title="Mastodon"><i class="fa-brands fa-mastodon"></i></a>
    {% when 'medium_username' %}
      <a href="https://medium.com/@{{ social[1] }}" title="Medium"><i class="fa-brands fa-medium"></i></a>
    {% when 'orcid_id' %}
      <a href="https://orcid.org/{{ social[1] }}" title="ORCID"><i class="ai ai-orcid"></i></a>
    {% when 'osf_id' %}
      <a href="https://osf.io/{{ social[1] }}/" title="Open Science Framework"><i class="ai ai-osf"></i></a>
    {% when 'pinterest_id' %}
      <a href="https://www.pinterest.com/{{ social[1] }}" title="Pinterest"><i class="fa-brands fa-pinterest"></i></a>
    {% when 'publons_id' %}
      <a href="https://publons.com/a/{{ social[1] }}/" title="Publons"><i class="ai ai-publons"></i></a>
    {% when 'quora_username' %}
      <a href="https://www.quora.com/profile/{{ social[1] }}" title="Quora"><i class="fa-brands fa-quora"></i></a>
    {% when 'research_gate_profile' %}
      <a href="https://www.researchgate.net/profile/{{ social[1] }}/" title="ResearchGate"><i class="ai ai-researchgate"></i></a>
    {% when 'rss_icon' %}
      <a href="{{ site.baseurl }}/feed.xml" title="RSS Feed"><i class="fa-solid fa-square-rss"></i></a>
    {% when 'scholar_userid' %}
      <a href="https://scholar.google.com/citations?user={{ social[1] }}" title="Google Scholar">
        <svg
          class="icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="-2 -2 28 28"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          aria-hidden="true"
          fill="none"
          stroke="currentColor"
        >
          <path d="M12 24a7 7 0 1 1 0-14 7 7 0 0 1 0 14zm0-24L0 9.5l4.838 3.94A8 8 0 0 1 12 9a8 8 0 0 1 7.162 4.44L24 9.5z"></path>
        </svg>
      </a>
    {% when 'scopus_id' %}
      <a href="https://www.scopus.com/authid/detail.uri?authorId={{ social[1] }}" title="Scopus"><i class="ai ai-scopus"></i></a>
    {% when 'semanticscholar_id' %}
      <a href="https://www.semanticscholar.org/author/{{ social[1] }}" title="Semantic Scholar"><i class="ai ai-semantic-scholar"></i></a>
    {% when 'spotify_id' %}
      <a href="https://open.spotify.com/user/{{ social[1] }}" title="Spotify"><i class="fa-brands fa-spotify"></i></a>
    {% when 'stackoverflow_id' %}
      <a href="https://stackoverflow.com/users/{{ social[1] }}" title="Stackoverflow"><i class="fa-brands fa-stack-overflow"></i></a>
    {% when 'strava_userid' %}
      <a href="https://www.strava.com/athletes/{{ social[1] }}" title="Strava"><i class="fa-brands fa-strava"></i></a>
    {% when 'telegram_username' %}
      <a href="https://telegram.me/{{ social[1] }}" title="telegram"><i class="fa-brands fa-telegram"></i></a>
    {% when 'unsplash_id' %}
      <a href="https://unsplash.com/@{{ social[1] }}" title="Unsplash"><i class="fa-brands fa-unsplash"></i></a>
    {% when 'wechat_qr' %}
      <a id="WeChatBtn" title="WeChat"><i class="fa-brands fa-weixin"></i></a>
      <div id="WeChatMod" class="wechat-modal">
        <img src="{{ social[1] | prepend: 'assets/img/' | relative_url }}" alt="WeChat QR" id="WeChatQR">
      </div>
      <script defer src="{{ '/assets/js/wechat.js' | relative_url | bust_file_cache }}" type="text/javascript"></script>
    {% when 'whatsapp_number' %}
      <a href="https://wa.me/{{ social[1] }}" title="whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
    {% when 'wikidata_id' %}
      <a href="https://www.wikidata.org/wiki/{{ social[1] }}" title="Wikidata"><i class="fa-solid fa-barcode"></i></a>
    {% when 'wikipedia_id' %}
      <a href="https://wikipedia.org/wiki/User:{{ social[1] }}" title="Wikipedia"><i class="fa-brands fa-wikipedia-w"></i></a>
    {% when 'work_url' %}
      <a href="{{ social[1] }}" title="Work"><i class="fa-solid fa-briefcase"></i></a>
    {% when 'x_username' %}
      <a href="https://twitter.com/{{ social[1] }}" title="X">
        <svg
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53
                  4.48 4.48 0 0 0-7.86 3v1
                  A10.66 10.66 0 0 1 3 4s-4 9 5 13
                  a11.64 11.64 0 0 1-7 2
                  c9 5 20 0 20-11.5
                  a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
        </svg>
      </a>
    {% when 'youtube_id' %}
      <a href="https://youtube.com/@{{ social[1] }}" title="YouTube"><i class="fa-brands fa-youtube"></i></a>
    {% when 'zotero_username' %}
      <a href="https://www.zotero.org/{{ social[1] }}" title="Zotero"><i class="ai ai-zotero"></i></a>
    {% else %}
      <a href="{{ social[1].url }}" title="{{ social[1].title }}">
        {% assign file_ext = social[1].logo | split: '.' | last %}
        {% if file_ext == 'svg' %}
          <svg>
            <image xlink:href="{% if social[1].logo contains '://' %}{{ social[1].logo }}{% else %}{{ social[1].logo | relative_url }}{% endif %}" />
          </svg>
        {% else %}
          <img
            src="{% if social[1].logo contains '://' %}{{ social[1].logo }}{% else %}{{ social[1].logo | relative_url }}{% endif %}"
            alt="{{ social[1].title }}"
          >
        {% endif %}
      </a>
  {% endcase %}
{% endfor %}
